body {
    background-color: rgb(144, 220, 238, 0.4);
     font-family: arial, helvetica, sans-serif;
     padding: 20px;
 }
 
 #main-heading {
     font-size: 50px;
     font-weight: bolder;
     margin-top: 0;
     margin-bottom: 10;
     text-align: center;
     border: solid;
     border-width: 2.5px;
 }
 
 .tagline {
     text-align: center;
     margin-top: 0;
 }
 
 #img-caption {
     font-size: 12px;
     text-align: center;
     font-style: italic;
 }
 
#tribute-info {
text-align: left;
margin-left: auto;
margin-right: auto;


}

#image {
 display: block;
 margin-left: auto;
 margin-right: auto;
 border-radius: 4px;
 height: auto;
 max-width: 100%;
 }
 
 #map {
 display: block;
 margin-left: auto;
 margin-right: auto;
 border-radius: 4px;
 height: auto;
 max-width: 100%;
 }

 #map-caption{
    font-size: 12px;
     text-align: center;
     font-style: italic;
     margin-left: auto;
margin-right: auto;
 }
#title {
    text-align: center;
margin-left: auto;
margin-right: auto;
}

.associations, .parks, .places {
    list-style-type: circle;
    margin-left: auto;
}

a {
color: black;

}
a.visited {
    color: green;
}
a.hover {
    color: darkblue;
}
h2 {
    border-bottom: 2px solid darkblue;
    font-size: 25px;
    margin-left: auto;
margin-right: auto;
}
h3 {
border-bottom: 1px dotted darkblue;
margin-right: auto;
font-size: 20px;
margin-left: auto;
margin-right: auto;

}

p {
    font-size: 15px;
    margin-left: auto;
margin-right: auto;
}

.footer {
    font-size: 13px;
    font-style: italic;
}

.bottom-line {
margin-top: 1cm;
background-color: darkblue;
border-color: darkblue;
}
